<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>deliverysys</title>
    <!-- You can add some CSS links here for styling -->
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="#">Privacy</a>
        <a href="/Driver">Available Drivers</a>
    </nav>
    <div>
        @RenderBody()
    </div>
    <footer>
        © 2023 - deliverysys - <a href="#">Privacy</a>
    </footer>
</body>
</html>
